.fit-products__section {
    width: 80%;
    margin: auto;
}

.slick-track {
 margin-left: 0px;
}

.slick-slider {
    margin-bottom: 7rem;
}
.fit-title {
    font-size: 3rem;
    font-weight: 500;
}